.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  width: 840px;
  height: 320px;
}

.img {
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 524px;
  height: 320px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 524px;
  height: 32px;
}

.price {
  width: 156px;
}
