/* Reset styles */

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #eaebed;
  --inputs: #f7f7f7;
  --white: #ffffff;
  --errorshadow: rgba(228, 72, 72, 0.3);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: var(--text);
  background-color: var(--white);
  font-size: 16px;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
  /*height: auto;*/
}

svg {
  display: block;
  height: auto;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  background: none;
  box-shadow: none;
  border: none;
}

label,
button,
select,
option {
  cursor: pointer;
}

textarea:focus,
textarea:active,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
